
:root {
  --cero: 255, 255, 255;
  --uno: 0, 0, 0;
  --dos: 131, 131, 131;
  --tres: 51, 51, 51;
  --cuatro: 184, 104, 30;
  --cinco: 159, 64, 64;
  --seis: 95, 0, 0;

  --alpha0: 1;
  --alpha1: 0.8;
  --alpha2: 0.5;
  --alpha3: 0.2;
}
.blanco-color{color: rgba(var(--cero), var(--alpha0));}
.negro-color{color: rgba(var(--uno), var(--alpha0));}
.cero-fondo{background-color: rgba(var(--dos), var(--alpha0));}
.uno-fondo{background-color: rgba(var(--uno), var(--alpha0));}
.dos-fondo{background-color: rgba(var(--dos), var(--alpha0));}
.tres-fondo{background-color: rgba(var(--tres), var(--alpha0));}
.cuatro-fondo{background-color: rgba(var(--cuatro), var(--alpha0));}
.cinco-fondo{background-color: rgba(var(--cinco), var(--alpha0));}
.seis-fondo{background-color: rgba(var(--seis), var(--alpha0));}

.cont-col-1{background-color: rgba(var(--uno), var(--alpha2));}
.cont-col-2{background-color: rgba(var(--uno), var(--alpha1));}

body{
  font-family: 'Space Mono', monospace;
  background-color: rgba(var(--uno), var(--alpha0));
}

.texto-normal {
  font-size: 1rem;
}
.texto-chico {
  font-size: 0.8rem;
  line-height: 1rem;
}
.texto-intro {
  font-size: 1.8rem;
  font-weight: 400;
}
.colgado {
  font-size: 0.8rem;
  font-weight: 400;
}
.titulo-normal{
  font-size: 1.8rem;
  font-weight: 700;
}
.titulo-mediano{
  font-size: 4rem;
  font-weight: 700;
}

.carousel-control-next, .carousel-control-prev {
  width: 5%;
}

.video-75 {
  display:block;
  width:75%;
  margin-left: auto;
  margin-right: auto;
}


.cine-icon::before {
  left: -5px;
  margin-left: 5px;
  position: relative;
  top: 4px;
  content: url("img/clapper.svg");
}
.editorial-icon::before {
  left: -5px;
  margin-left: 5px;
  position: relative;
  top: 4px;
  content: url("img/hard.svg");
}
.publicidad-icon::before {
  left: -5px;
  margin-left: 5px;
  position: relative;
  top: 4px;
  content: url("img/movie.svg");
}
.equipo-icon::before {
  left: -5px;
  margin-left: 5px;
  position: relative;
  top: 4px;
  content: url("img/laptop.svg");
}
.contacto-icon::before {
  left: -5px;
  margin-left: 5px;
  position: relative;
  top: 4px;
  content: url("img/data.svg");
}

.fondo1, .fondo2, .fondo3, .fondo4, .fondo5, .fondo6 {
  min-height: 100vh;
}
.fondo1 {
  background-color: rgba(var(--uno), var(--alpha0));
}
.fondo2 {
  background-color: rgba(var(--dos), var(--alpha0));
}
.fondo3 {
  background-color: rgba(var(--tres), var(--alpha0));
}
.fondo4 {
  background-color: rgba(var(--cuatro), var(--alpha0));
}
.fondo5 {
  background-color: rgba(var(--cinco), var(--alpha0));
}
.fondo6 {
  background-color: rgba(var(--seis), var(--alpha0));
}

#cine {
  background-image: url('img/IMG_2956.JPG');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

#publicidad {
  background-image: url('img/IMG_8064.JPG');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

#editorial {
  background-image: url('img/ORME2075.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

#equipo {
  background-image: url('img/IMG_5101.JPG');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

#contacto {
  background-image: url('img/IMG_1373.JPG');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

/* ===========================================================================================================================*/
/* ===========================================================================================================================*/

/* youtube */

/* ===========================================================================================================================*/
/* ===========================================================================================================================*/

.youtube {
    background-color: #000;
    margin-bottom: 30px;
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
    cursor: pointer;
}
.youtube img {
    width: 100%;
    top: -16.84%;
    left: 0;
    opacity: 0.7;
}
.youtube .play-button {
    width: 90px;
    height: 60px;
    background-color: #333;
    box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
    z-index: 1;
    opacity: 0.8;
    border-radius: 6px;
}
.youtube .play-button:before {
    content: "";
    border-style: solid;
    border-width: 15px 0 15px 26.0px;
    border-color: transparent transparent transparent #fff;
}
.youtube img,
.youtube .play-button {
    cursor: pointer;
}
.youtube img,
.youtube iframe,
.youtube .play-button,
.youtube .play-button:before {
    position: absolute;
}
.youtube .play-button,
.youtube .play-button:before {
    top: 50%;
    left: 50%;
    transform: translate3d( -50%, -50%, 0 );
}
.youtube iframe {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}


/* ===========================================================================================================================*/
/* ===========================================================================================================================*/

/* responsive */

/* ===========================================================================================================================*/
/* ===========================================================================================================================*/


@media (max-width: 767.98px) {

  .video-75 {
    width:100%;
  }

}
